SalesDelivery/Web References/WebRefDeviceOps/DeviceOps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="DeviceOps" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.17.0.50/ServicesD365/DeviceOps.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.17.0.50/ServicesD365/DeviceOps.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.17.0.50/ServicesD365/DeviceOps.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SyncServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeviceOps_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IDeviceOps_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceOps_SaveMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMessage" />
  </wsdl:message>
  <wsdl:message name="IDeviceOps_SaveMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceOps_SaveMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMessages" />
  </wsdl:message>
  <wsdl:message name="IDeviceOps_SaveMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeviceOps">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceOps/Ping" message="tns:IDeviceOps_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceOps/PingResponse" message="tns:IDeviceOps_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceOps/SaveMessage" message="tns:IDeviceOps_SaveMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceOps/SaveMessageResponse" message="tns:IDeviceOps_SaveMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceOps/SaveMessages" message="tns:IDeviceOps_SaveMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceOps/SaveMessagesResponse" message="tns:IDeviceOps_SaveMessages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeviceOps" type="tns:IDeviceOps">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IDeviceOps/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMessage">
      <soap:operation soapAction="http://tempuri.org/IDeviceOps/SaveMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMessages">
      <soap:operation soapAction="http://tempuri.org/IDeviceOps/SaveMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeviceOps">
    <wsdl:port name="BasicHttpBinding_IDeviceOps" binding="tns:BasicHttpBinding_IDeviceOps">
      <soap:address location="http://172.17.0.50/ServicesD365/DeviceOps.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>