SalesDeliveryCE7/Web References/WebRefDeviceOps/DeviceOps.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.17.0.50/HandHeldServices/DeviceOps.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SyncServices" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="msg" nillable="true" type="q1:DeviceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="msg" nillable="true" type="q2:DeviceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="msgs" nillable="true" type="q3:ArrayOfDeviceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="SaveMessagesResult" nillable="true" type="q4:ArrayOfDeviceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>