SalesDeliveryCE7/Web References/WebRefDeviceOps/DeviceOps1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SyncServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SyncServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeviceMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOccur" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsSaved" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceMessage" nillable="true" type="tns:DeviceMessage" />
  <xs:complexType name="ArrayOfDeviceMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceMessage" nillable="true" type="tns:DeviceMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceMessage" nillable="true" type="tns:ArrayOfDeviceMessage" />
</xs:schema>